@using CarRental.Dto.BrandIconDtos
@model List<ResultBrandIconDto>
@{
    ViewData["Title"] = "Marka İkon Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@* BrandIconID
PhotoUrl *@

@{
    int count = 0;
}

<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Fotoğraf Url</th>
        <th>Aksiyonlar</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td>@item.PhotoUrl</td>
            <td>
                <a asp-action="UpdateBrandIcon" asp-controller="BrandIcon" asp-route-id="@item.BrandIconID" asp-area="Admin" class="btn btn-outline-info">Güncelle</a>
                <a asp-action="DeleteBrandIcon" asp-controller="BrandIcon" asp-route-id="@item.BrandIconID" asp-area="Admin" class="btn btn-outline-Danger">Sil</a>
            </td>
        </tr>
    }

</table>
<br />
<a asp-action="CreateBrandIcon" asp-controller="BrandIcon" asp-area="Admin" class="btn btn-outline-primary">Yeni Marka İkon Ekle</a>