@using CarRental.Dto.AboutDtos
@model CreateAboutDto
@{
    ViewData["Title"] = "Yeni Hakkımda Oluştur Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <label>Başlık</label>
    <input type="text" asp-for="Title" class="form-control" />
    <span asp-validation-for="Title" class="text-danger"></span>
    <br />
    <label>Başlık</label>
    <input type="text" asp-for="ImageUrl" class="form-control" />
    <span asp-validation-for="ImageUrl" class="text-danger"></span>
    <br />
    <label>Başlık</label>
    <input type="text" asp-for="Description" class="form-control" />
    <span asp-validation-for="Description" class="text-danger"></span>
    <br />
    <label>Başlık</label>
    <input type="text" asp-for="IconUrl1" class="form-control" />
    <span asp-validation-for="IconUrl1" class="text-danger"></span>
    <br />
    <label>Başlık</label>
    <input type="text" asp-for="IconTitle1" class="form-control" />
    <span asp-validation-for="IconTitle1" class="text-danger"></span>
    <br />
    <label>Başlık</label>
    <input type="text" asp-for="IconUrl2" class="form-control" />
    <span asp-validation-for="IconUrl2" class="text-danger"></span>
    <br />
    <label>Başlık</label>
    <input type="text" asp-for="IconTitle2" class="form-control" />
    <span asp-validation-for="IconTitle2" class="text-danger"></span>
    <br />
    <label>Başlık</label>
    <input type="text" asp-for="IconUrl3" class="form-control" />
    <span asp-validation-for="IconUrl3" class="text-danger"></span>
    <br />
    <label>Başlık</label>
    <input type="text" asp-for="IconTitle3" class="form-control" />
    <span asp-validation-for="IconTitle3" class="text-danger"></span>
    <br />
    <button class="btn btn-outline-primary">Yeni Hakkımda Oluştur</button>
</form>




@* 
Title
ImageUrl
Description
IconUrl1
IconTitle1
IconUrl2
IconTitle2
IconUrl3
IconTitle3  *@