@using CarRental.Dto.Banner3Dtos
@model List<ResultBanner3Dto>

@if (Model != null && Model.Count >= 2)
{
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row mx-0">
                @foreach (var item in Model.Take(2)) // Sadece ilk 2 veriyi alıyoruz
                {
                    <div class="col-lg-6 px-0 ">
                        <div class="px-5 bg-secondary d-flex align-items-center justify-content-between" style="height: 350px;">
                            <img class="img-fluid flex-shrink-0 ml-n5 w-50 mr-4" src="@item.PhotoUrl" alt="">
                            <div class="text-right">
                                <h3 class="text-uppercase text-light mb-3">@item.Title</h3>
                                <p class="mb-4">@item.Description</p>
                                <a class="btn btn-primary py-2 px-4" href="">Hemen Başla</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
