@using CarRental.Dto.BrandIconDtos
@model List<ResultBrandIconDto>

<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="owl-carousel vendor-carousel">
            @foreach (var item in Model)
            {
                <div class="bg-light p-4">
                    <img src="@item.PhotoUrl" alt="">
                </div>
            }
        </div>
    </div>
</div>

