
<aside class="left-sidebar" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="p-t-30">
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="index.html" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-controller="About" asp-area="Admin" asp-action="Index" aria-expanded="false"><i class="mdi mdi-format-list-bulleted"></i><span class="hide-menu">Hakkımda</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-controller="Banner1" asp-area="Admin" asp-action="Index" aria-expanded="false"><i class="mdi mdi-image"></i><span class="hide-menu">Banner1</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-controller="Banner2" asp-area="Admin" asp-action="Index" aria-expanded="false"><i class="mdi mdi-image"></i><span class="hide-menu">Banner2</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-controller="Banner3" asp-area="Admin" asp-action="Index" aria-expanded="false"><i class="mdi mdi-image"></i><span class="hide-menu">Banner3</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-controller="BrandIcon" asp-area="Admin" asp-action="Index" aria-expanded="false"><i class="mdi mdi-format-list-numbers"></i><span class="hide-menu">Marka İkonları</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-controller="Car" asp-area="Admin" asp-action="Index" aria-expanded="false"><i class="mdi mdi-newspaper"></i><span class="hide-menu">Arabalar</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-controller="CarDetail" asp-area="Admin" asp-action="Index" aria-expanded="false"><i class="mdi mdi-phone"></i><span class="hide-menu">Araba Detayları</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-controller="Contact" asp-area="Admin" asp-action="Index" aria-expanded="false"><i class="mdi mdi-playlist-play"></i><span class="hide-menu">İletişim</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-controller="ContactInformation" asp-area="Admin" asp-action="Index" aria-expanded="false"><i class="mdi mdi-keyboard"></i><span class="hide-menu">İletişim Bilgisi</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-controller="FooterAddress" asp-area="Admin" asp-action="Index" aria-expanded="false"><i class="mdi mdi-comment"></i><span class="hide-menu">Alt Bilgi</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-controller="Information" asp-area="Admin" asp-action="Index" aria-expanded="false"><i class="mdi mdi-Linkedin-box"></i><span class="hide-menu">Bilgiler</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-controller="Service" asp-area="Admin" asp-action="Index" aria-expanded="false"><i class="mdi mdi-account-multiple"></i><span class="hide-menu">Servislerimiz</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-controller="TeamMember" asp-area="Admin" asp-action="Index" aria-expanded="false"><i class="mdi mdi-format-quote"></i><span class="hide-menu">Takımımız</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-controller="Testimonial" asp-area="Admin" asp-action="Index" aria-expanded="false"><i class="mdi mdi-format-quote"></i><span class="hide-menu">Referanslar</span></a></li>

            </ul>
        </nav>
    </div>
</aside>
