@using CarRental.Dto.Banner2Dtos
@model List<ResultBanner2Dto>
@foreach (var item in Model)
{
    <!-- Banner2 Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="bg-banner py-5 px-4 text-center">
                <div class="py-5">
                    <h1 class="display-1 text-uppercase text-primary mb-4">@item.Discount</h1>
                    <h1 class="text-uppercase text-light mb-4">@item.Title</h1>
                    <p class="mb-4">@item.Description</p>
                    <a class="btn btn-primary mt-2 py-3 px-5" href="">@item.PhotoUrl</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->
}

